body {
    background-color: black;
}

#root {
    max-width: 360px;
    max-height: 640px;
    height: 640px;
}

/* header -------------------------------------- */
/* pokeball  */
header .backgroundPokeball {
    width: 53%;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/* header top ------------------ */
header {
    padding: 1rem;
    position: relative;
    height: 182px;
    color: #fff;
}

header .fa-solid {
    color: #fff;
}

.header__top {
    display: flex;
    gap: 1rem;
}

.header__top * {
    align-self: center;
}

.header__top i {
    font-size: 1.5rem;
}

.header__top p {
    margin-left: auto;

    padding: 0;
}



/* img ------------------------ */
.imgShowcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
    position: relative;
    z-index: 1;
}

.prev {
    align-self: end;
    grid-column: 1/2;
}

.next {
    align-self: end;
    justify-self: end;
    grid-column: 3/4;
}

.imgShowcase__img {
    position: relative;
    height: 112px;
    width: 10rem;
    grid-column: 2/3
}

.imgShowcase img {
    position: absolute;
    top: 30px;
}


/* main ---------------------------------------------- */
main {
    background-color: #fff;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    padding: 3rem 1rem 1rem 1rem;
}

/* type --------------------------- */
.types {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 1rem;
}

.types li {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
}




/* about --------------------------- */
.about h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}




/* about table --------------------- */
.about table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.about__ability--weight {
    border-right: 1px solid #000;
}

.about__ability--height {
    border-right: 1px solid #000;
}

.about__ability--moves p {
    padding: 0;
}

table .about__top div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.about table P {
    font-size: 0.7rem;
}

.about table td {
    width: 33%;
}


.about__description {
    font-size: 0.7rem;
}


/* base stats -----------------*/

.baseStats h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.baseStats td p {
    padding-bottom: 0.5rem;
    font-size: 0.7rem;
}

.baseStats table {
    border-collapse: collapse;
    height: 10%;
}

.baseStats tr td:nth-child(1) {
    border-right: 1px solid #000;
    text-align: end;
    padding-right: 0.5rem;
    font-weight: bold;
}

.baseStats tr td:nth-child(2) {
    padding-left: 0.5rem;
}

.baseStats tr td:nth-child(3)>div {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.baseStats tr td:nth-child(3) div {
    border-radius: 1rem;
    height: 10px;
}

.baseStats tr td:nth-child(3) {
    max-height: 18px;
}

header,
.types,
.about h2,
.about table,
.baseStats{
text-transform: capitalize;
}

.about h2 {
    font-weight: bolder;
}


















/* background colors ---------------------------------------------------------------------------------------------------- */
.bug--bgcolor {
    background-color: #A7B723;
}

.dark--bgcolor {
    background-color: #75574C;
}

.dragon--bgcolor {
    background-color: #7037FF;
}

.electric--bgcolor {
    background-color: #F9CF30;
}

.fairy--bgcolor {
    background-color: #E69EAC;
}

.fighting--bgcolor {
    background-color: #C12239;
}

.fire--bgcolor {
    background-color: #F57D31;
}

.flying--bgcolor {
    background-color: #A891EC;
}

.ghost--bgcolor {
    background-color: #70559B;
}

.normal--bgcolor {
    background-color: #AAA67F;
}

.grass--bgcolor {
    background-color: #74CB48;
}

.ground--bgcolor {
    background-color: #DEC16B;
}

.ice--bgcolor {
    background-color: #9AD6DF;
}

.poison--bgcolor {
    background-color: #A43E9E;
}

.psychic--bgcolor {
    background-color: #FB5584;
}

.rock--bgcolor {
    background-color: #B69E31;
}

.steel--bgcolor {
    background-color: #B69E31;
}

.water--bgcolor {
    background-color: #6493EB;
}





/* colors ---------------------------------------------------------------------------------------------------- */
.bug--color {
    color: #A7B723;
}

.dark--color {
    color: #75574C;
}

.dragon--color {
    color: #7037FF;
}

.electric--color {
    color: #F9CF30;
}

.fairy--color {
    color: #E69EAC;
}

.fighting--color {
    color: #C12239;
}

.fire--color {
    color: #F57D31;
}

.flying--color {
    color: #A891EC;
}

.ghost--color {
    color: #70559B;
}

.normal--color {
    color: #AAA67F;
}

.grass--color {
    color: #74CB48;
}

.ground--color {
    color: #DEC16B;
}

.ice--color {
    color: #9AD6DF;
}

.poison--color {
    color: #A43E9E;
}

.psychic--color {
    color: #FB5584;
}

.rock--color {
    color: #B69E31;
}

.steel--color {
    color: #B69E31;
}

.water--color {
    color: #6493EB;
}


/* color alpha lower -------------------------------------------------------------------------------------------*/
.bug--abgcolor {
    background-color: #A7B723a7;
}

.dark--abgcolor {
    background-color: #75574Ca7;
}

.dragon--abgcolor {
    background-color: #7037FFa7;
}

.electric--abgcolor {
    background-color: #F9CF30a7;
}

.fairy--abgcolor {
    background-color: #E69EACa7;
}

.fighting--abgcolor {
    background-color: #C12239a7;
}

.fire--abgcolor {
    background-color: #F57D31a7;
}

.flying--abgcolor {
    background-color: #A891ECa7;
}

.ghost--abgcolor {
    background-color: #70559Ba7;
}

.normal--abgcolor {
    background-color: #AAA67Fa7;
}

.grass--abgcolor {
    background-color: #74CB48a7;
}

.ground--abgcolor {
    background-color: #DEC16Ba7;
}

.ice--abgcolor {
    background-color: #9AD6DFa7;
}

.poison--abgcolor {
    background-color: #A43E9Ea7;
}

.psychic--abgcolor {
    background-color: #FB5584a7;
}

.rock--abgcolor {
    background-color: #B69E31a7;
}

.steel--abgcolor {
    background-color: #B69E31a7;
}

.water--abgcolor {
    background-color: #6493EBa7;
}