body {
    background-color: black;
}

#root {
    max-width: 360px;
    max-height: 640px;
    background-color: #09ff00;
    height: 640px;
}

/* header -------------------------------------- */
/* pokeball  */
header .backgroundPokeball {
    width: 53%;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/* header top ------------------ */
header {
    padding: 1rem;
    position: relative;
    height: 182px;
    color: #fff;
}

header .fa-solid {
    color: #fff;
}

.header__top {
    display: flex;
    gap: 1rem;
}

.header__top * {
    align-self: center;
}

.header__top i {
    font-size: 1.5rem;
}

.header__top p {
    margin-left: auto;

    padding: 0;
}



/* img ------------------------ */
.imgShowcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
    position: relative;
    z-index: 1;
}

.prev {
    align-self: end;
    grid-column: 1/2;
}

.next {
    align-self: end;
    justify-self: end;
    grid-column: 3/4;
}

.imgShowcase__img {
    position: relative;
    height: 112px;
    width: 10rem;
    grid-column: 2/3
}

.imgShowcase img {
    position: absolute;
    top: 30px;
}


/* main ---------------------------------------------- */
main {
    background-color: #fff;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    padding: 3rem 1rem 1rem 1rem;
}

/* type --------------------------- */
.types {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 1rem;
}

.types li {
    /* background-color: ;  */
    padding: 0.5rem;
    border-radius: 0.5rem;
}




/* about --------------------------- */
.about h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}




/* about table --------------------- */
.about table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.about__ability--weight {
    border-right: 1px solid #000;
}

.about__ability--height {
    border-right: 1px solid #000;
}

.about__ability--moves p {
    padding: 0;
}

table .about__top div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.about table P {
    font-size: 0.7rem;
}

.about table td {
    width: 33%;
}


.about__description {
    font-size: 0.7rem;
}


/* base stats -----------------*/

.baseStats h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.baseStats td p {
    padding-bottom: 0.5rem;
    font-size: 0.7rem;
}

.baseStats table {
    border-collapse: collapse;
    height: 10%;
}

.baseStats tr td:nth-child(1) {
    border-right: 1px solid #000;
    text-align: end;
    padding-right: 0.5rem;
}

.baseStats tr td:nth-child(2) {
    padding-left: 0.5rem;
}

.baseStats tr td:nth-child(3)>div {
    background-color: #09ff0050;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.baseStats tr td:nth-child(3)>div>div {
    background-color: #09ff00;
}

.baseStats tr td:nth-child(3) div {
    border-radius: 1rem;
    height: 10px;
}

.baseStats tr td:nth-child(3) {
    max-height: 18px;
}